@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    font-family: Montserrat;
}

body a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #FED100;
    display: grid;
    grid-template-areas: 
        'header header header header'
        'content-header content-header content-header carman';
    padding: 0 3vw;
}

.header {
    grid-area: header;
}

.content-header {
    grid-area: content-header;
}

.carman {
    grid-area: carman;
}

.header-grid {
    display: grid;
    grid-template-areas: 
    'logo menu-header menu-header menu-header phone';
}

.logo {
    grid-area: logo;
    font-size: 2vw;
    align-self: center;
}

.menu-header {
    grid-area: menu-header;
}

.phone {
    grid-area: phone;
    text-align: right;
    font-weight: 700;
    font-size: 1.5vw;
}

.phone a {
    border-bottom: 1px solid black;
}

.menu-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-size: 1.3vw;
}

.href {
    margin: 1.5em 0 1em 0;
}

.href1 {
    grid-column: 1 / 2;
}

.href2 {
    grid-column: 2 / 3;
}

.href3 {
    grid-column: 3 / 4;
}

.href4 {
    grid-column: 4 / 5;
}

.content-header {
    margin-left: 1em;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

.header-text {
    grid-row: 1 / 2;
}

.button {
    grid-row: 2 / 3;
}

.advantages {
    grid-row: 3 / 4;
}

.h1-header {
    font-size: 4vw;
    margin: 1.3em 0 0 0;
}

.header-text h2 {
    font-size: 1.8vw;
    font-weight: 600;
    margin: 2vw 0 0 0 ;
}

.btn {
    background-color: #FF352B;
    font-family: Montserrat;
    font-size: 1.5vw;
    color: white;
    padding: 1em 6em;
    border: 0;
    font-weight: 600;
    margin-top: 2em;
}

.advantages {
    width: 40vw;
    margin-top: 1vw;
    font-size: 1.3vw;
    display: grid;
    grid-template-areas:
        'advantages1 advantages2 advantages3';
}

.advantages img {
    width: 100%;
}

.advantages div{
    width: 90%;
}

.advantages1 {
    grid-column: advantages1;
    display: grid;
    grid-template-areas: 
        'img1 text1'
}

.advantages1 img {
    grid-area: img1;
}

.advantages1 p {
    grid-area: text1;
    margin: 0;
}

.advantages2 {
    grid-column: advantages2;
    display: grid;
    grid-template-areas: 
        'img2 text2'
}

.advantages2 img {
    grid-area: img2;
}

.advantages2 p {
    grid-area: text2;
    margin: 0;
}

.advantages3 {
    grid-column: advantages3;
    display: grid;
    grid-template-areas: 
        'img3 text3'
}

.advantages3 img {
    grid-area: img3;
}

.advantages3 p {
    grid-area: text3;
    margin: 0;
}

.carman {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: end;
}

.man {
    grid-column: 2 / span 6;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1; 
    align-self: center;
}

.man img, .car img {
    width: 80%;
}

.car {
    grid-column: 6 / -1;
    grid-row: 1; 
    align-self: center;
}

.instruction {
    display: grid;
    grid-template-areas:
            "hd-items hd-items"
            "one-item two-item"
            "three-item four-item";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 9em);
    margin-bottom: 3vw;
}

.h2-instruction {
    grid-area: hd-items;
    font-weight: 600;
    font-size: 2.7vw;
    margin: 7vh auto 7vh;
}

.p1, .p2, .p3, .p4 {
    width: 40vw;
    font-size: 1vw;
}

.p1 {
    grid-area: one-item;
    justify-self: end;
}

.p2 {
    grid-area: two-item;
}

.p3 {
    grid-area: three-item;
    justify-self: end;
}

.p3 .number {
    margin: 0.5em 0.4em 1em 0.4em
}

.p4 {
    grid-area: four-item;
}

.p4 .number {
    margin: 0.5em 0.4em 1em 0.4em
}

.number {
    float: left;
    font-weight: 300;
    font-size: 3vw;
    text-shadow: 1px 1px 0px #FED100;
    margin: 0.5em 0.5em 1em 0.5em;
}

.h3-instruction {
    font-weight: 500;
    font-size: 1.5vw;
    margin: 1.3em 0 0 0.3em;
}

.text-instruction {
    font-weight: normal;
    width: 33em;
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.5em;
}

footer {
    background-color: #FED100;
    display: grid;
    grid-template-areas: 
        'first-column second-column third-column fourth-column';
    padding: 3vw;
    align-self: start;
}

.first-column {
    grid-area: first-column;
}

.second-column {
    grid-area: second-column;
}

.third-column {
    grid-area: third-column;
}

.fourth-column {
    grid-area: fourth-column;
}

.first-column h2 {
    font-weight: 600;
    font-size: 1.5vw;
    margin: 0 0 2vw 0;
}

.first-column p {
    font-size: 1vw;
    width: 15vw;
    margin-bottom: 2vw;
}

.second-column ul {
    margin-top: 0;
    padding-left: 0;
}

.second-column li{
    list-style-type: none;
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 1.2vw;
}

.third-column img {
    width: 100%;
}

.third-column div {
    width: 1.7vw;
    margin-right: 2vw;
}

.icon {
    display: grid;
    grid-template-areas: 'Youtube VK Facebook Instagram';
}

.Youtube {
    grid-area: Youtube;
}

.VK {
    grid-area: VK;
}

.Facebook {
    grid-area: Facebook;
}

.Instagram {
    grid-area: Instagram;
}

.email {
    border-bottom: 0.1vw solid black;
    font-size: 1vw;
}

.fourth-column {
    width: 14vw;
    justify-self: center;
    justify-content: center;
}

.fourth-column button {
    padding: 0.8vw 2.27vw;
    background-color: #FED100;
    border: 1px solid black;
    font-size: 0.9vw;
}

.phone-footer {
    text-align: center;
    padding: 2.3vw;
    font-size: 1vw;
}

.phone-footer a {
    border-bottom: 1px solid black;
}


@media screen and (max-width: 540px) {
    body {
        width: 100%;
    }
    header {
        grid-template:
            'header'
            'content-header';
        justify-content: center;
        margin: 0;
    }

    .header-grid {
        justify-content: center;
    }
    
    .menu-header {
        display: none;
    }

    .advantages {
        display: none;
    }

    .phone {
        display: none;
    }

    .content-header {
        margin: 0;
    }

    .header-text {
        justify-content: center;
        text-align: center;
    }

    .button {
        justify-content: center;
        align-items: center;
    }

    .carman {
        display: none;
    }

    .car {
        display: none;
    }
    .instruction {
        grid-template: 
            "hd-items"
            "one-item"
            "two-item"
            "three-item"
            "four-item";
        justify-content: center;
        margin: 0 0 7vw 0;
    }
    

    .text-instruction {
        width: 50vw;
    }

    footer {
        grid-template: 
            'first-column' 
            'second-column'
            'third-column' 
            'fourth-column';
        justify-content: center;
        text-align: center;
        margin: 0;
        font-size: 2vw;
    }

    .email {
        text-align: center;
        margin-bottom: 3vw;
    }
}

