$fontForTitle: "TenorSans";

.header {
    padding: 2vw;
    margin-bottom: 1vw;
    font-family: $fontForTitle;
    font-size: 1.2vw;
    letter-spacing: 0.4vw;
    text-align: center;

    @include for-tablet-landscape-up {
        font-size: 2vw;
        padding: 2.5vw 0;
    }

    @include  for-tablet-portrait-up {
        font-size: 3vw;
        padding: 5vw 0;
    }

    @include for-phone-only {
        font-size: 5.5vw;
        padding: 10vw 0;
    }
}

