$fontForText: 'PT Root UI';

.response {
    display: none;
    width: 60vw;
    margin: 0 auto;

    @include for-tablet-landscape-up {
        width: 70vw;
        margin-top: 5vw;
    }

    @include for-tablet-portrait-up {
        width: 90vw;
        margin-top: 5vw;
    }

    @include for-phone-only {
        width: 90vw;
        margin-top: 11vw;
    }

    &__title {
        text-align: center;
        font-family: $fontForText;
        font-size: 1.4vw;
        font-weight: 200;
        letter-spacing: 0.1vw;
        margin: 3vw 1.5vw 1.5vw 1.5vw;

        @include for-tablet-landscape-up {
            font-size: 2vw;
        }

        @include for-tablet-portrait-up{
            font-size: 5vw;
        }

        @include for-phone-only {
            font-size: 7vw;
        }

    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include for-tablet-landscape-up {
            flex-direction: row;
            justify-content: space-between;
        }

        @include for-tablet-portrait-up {
            flex-direction: column;
        }

        @include for-phone-only {
            flex-direction: column;
        }
    }
}

.image-container {
    width: 15vw;

    @include for-tablet-landscape-up {
        width: 20vw;
        margin: 3vw 0;
    }

    @include for-tablet-portrait-up {
        width: 79vw;
    }


    @include for-phone-only {
        width: 79vw;
        margin: 3vw 0;
    }

    &__image {
        width: 100%;
    }
}