.form-cat {
    &__button {
        width: 20vw;
        margin-top: 1.5vw;
        padding: 1vw;
        font-size: 1vw;
        background-color: rgb(144, 247, 153);
        border-radius: 10px;
        border: 0px;
        &:hover {
            background-color: rgb(132, 206, 138);
        }
    }
    
}