.feed {
    &__diet {
        font-weight: normal;
        font-size: 0.9vw;
        margin: 0;
    }
}

// Попробовала псевдокласс indeterminate, чтобы визуально показать незаполненность полей с боксами 

.checkbox:indeterminate,
.checkbox:indeterminate:indeterminate + span {
    color: rgba(0, 0, 0, 0.3);
}

.radio:indeterminate,
.radio:indeterminate:indeterminate + span {
    color: rgba(0, 0, 0, 0.3);
}