$font-family: 'Roboto', sans-serif;
$bg-card: rgba(248, 248, 248, 1);
$bg-wrapper-dark: rgba(51, 58, 68, 0.2);
$tariff-300: rgba(44, 193, 213, 1);
$tariff-450: rgba(36, 174, 141, 1);
$tariff-500: rgba(243, 105, 102, 1);
$tariff-1000: rgba(51, 58, 68,1);
$text-color-light: rgba(255, 255, 255, 1);
$text-color-dark: rgba(69, 67, 70,1);
$margin-center: 0 auto;
$border-color: rgba(215, 215, 215, 1);
$shadow-color: rgba(34, 60, 80, 0.2);
