.css-sghohy-MuiButtonBase-root-MuiButton-root {
  padding: 0.8vw 0 !important;
  margin-top: 1.5vw !important;
  font-size: 1.3rem !important;
  letter-spacing: 0.1vw !important;
  background: rgb(207, 207, 207) !important;
  color: black !important;
  border: none !important;
}
