@import './mixins.scss'; 
$center: 0 auto;


.header h1 {
    text-align: center;
    margin: 2vw 0;

    @include for-big-desktop-up {
        font-size: 1.8vw;
    }

    @include for-desktop-up {
        font-size: 1.5vw;
    }

    @include for-tablet-landscape-up {
        font-size: 3vw;
    }

    @include for-tablet-portrait-up{
        font-size: 5vw;
    }
    

    @include for-phone-only {
        font-size: 8vw;
    }

    

    

    

   
}