@import '../App.scss';

.hero-card {
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 8px;

    @include for-phone-only {
        padding: 1.2vw;
    }


    &__title {
        margin-bottom: 1.5vw;
        font-size: 1.5vw;

        @include for-tablet-portrait-up {
            font-size: 2.4vw;
        }

        @include for-phone-only {
            font-size: 3.2vw;
        }
    }
}

.hero-data {
    width: 18vw;
    display: grid;
    margin: 3vw auto;
    padding-left: 0.8vw;

    @include for-tablet-landscape-up {
        margin: 1vw 1vw 1vw 0.3vw;
        width: 17vw;
        font-size: 1vw;
    }

    @include for-tablet-portrait-up {
        margin: 0;
        padding: 2vw;
    }

    &__flex-container {
        width: 17.5vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include for-phone-only {
            width: 40vw;
        }
    }

    &__flex-info {
        width: 6vw;

        @include for-phone-only {
            width: 19vw;
        }
    }

    &__imgbox {
        margin-top: 0.5vw;
        width: 10vw;
        height: 20vh;
        position: relative;
        overflow: hidden;


        @include for-tablet-portrait-up {
            width: 27vw;
            height: 20vh;
        }

        @include for-phone-only {
            width: 27vw;
            height: 20vh;
        }

    }

    &__image {
        position: absolute;
        width: 100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width: 10vw;
        height: 19vh;
        object-fit:cover;

        @include for-tablet-portrait-up {
            width: 13vw;
            height: 20vh;
        }

        @include for-phone-only {
            width: 22vw;
            height: 20vh;
        }
    }

    &__block {
        margin: 0.7vw 0;
        font-size: 1.2vw;


    }

    

    &__title {
        font-size: 1vw;

        @include for-tablet-landscape-up {
            font-size: 1.2vw;
        }

        @include for-tablet-portrait-up {
            font-size: 1.7vw;
        }

        @include for-phone-only {
            font-size: 2.3vw
        }

    }

    &__text {
        font-size: 0.7vw;
        width: 16vw;

        @include for-tablet-landscape-up {
            width: 17vw;
            font-size: 1vw;
        }

        @include for-tablet-portrait-up {
            font-size: 1.4vw;
            width: 25vw;
        }

        @include for-phone-only {
            font-size: 2vw;
            width: 43vw;
        }

        &_mini {
            width: 7.7vw;

            @include for-tablet-landscape-up {
                width: 8vw;
            }

            @include for-phone-only {
                width: 20vw;
            }
    
        }

    }
}