@import './styles/base/01_normalize.scss';
@import './styles/base/mixins.scss';
@import './styles/global/fonts.scss';
@import './styles/global/global.scss';
@import './styles/global/svg.scss';

$center: 0 auto;
$heading: 'Montserrat', sans-serif;
$text: 'Open Sans', sans-serif;

body {
    margin: $center;
    font-family: $text;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
    font-family: $heading;
    margin: 0;
    padding: 0;
}

.hidden {
	display: none;
}