<header class="header">
    <div class="header__search">
        <img src="img/search.svg" class="header__icon"></img>
        <input type="text" class="header__input" placeholder="Search Courses, Documents, Activities... ">
    </div>
    <div class="header__choose-theme">
        <div class="header__icons">
            <img src="img/light.svg" alt="notifications" class="header__theme">
            <div class="header__switch-btn header__switch-btn_on"></div>
            <img src="img/dark.svg" alt="notifications" class="header__theme">
        </div>
    </div>
</header>