<div class="form__response response">
    <div class="response__title"></div>
    <div class="response__container">
        <div class="response__image-container image-container">
            <img src="" alt="Результат поиска №1" class="image-container__image">
        </div>
        <div class="response__image-container image-container">
            <img src="" alt="Результат поиска №2" class="image-container__image">
        </div>
        <div class="response__image-container image-container">
            <img src="" alt="Результат поиска №3" class="image-container__image">
        </div>
    </div>
    
</div>