<div class="sidebar-right">

    <div class="sidevar-right__header">
        <div class="sidebar-right__user user">
            <div class="user__avatar">
                <img src="img/avatar.svg" alt="avatar" class="user__image user__image_active"> 
            </div>
            <div class="user__name">Alexandra Sitovich</div>
            <div class="user__arrow">
                <img src="img/arrow-bottom.svg" alt="arrow" class="user__arrow user__arrow_active"> 
            </div>
        </div>
    </div>

    <div class="sidebar-right__calendar calendar">
        <div class="calendar__header">
            <h3 class="calendar__title">My Progress</h3>
            <div class="calendar__date">
                <div class="calendar__text"></div>
                <img src="" alt="arrow" class="calendar__arrow">
            </div>
        </div>

        <div class="calendar__month"></div>
    </div>

    <div class="sidebar-right__activities activities">
        <div class="activities__header">
            <h3 class="activities__title">Upcoming Activities</h3>
            <div class="activities__see-all"><a>See all</a>></div>
        </div>    
        <div class="activities__new">
            <ul class="activitiel__ul"></ul>
        </div>
    </div>

</div>