<div class="sidebar-left">

    <div class="sidebar-left__logo">
        <img src="img/logo.svg" alt="logo" class="sidebar__img">
    </div>

    <menu class="sidebar-left__menu menu">
        <nav class="menu__nav">
            <ul class="menu__ul">
                <li class="menu__list">
                    <div class="menu__icon"></div>
                    <p class="menu__text"><a class="menu__a">Home</a></p>
                </li>
                <li class="menu__list">
                    <div class="menu__icon"></div>
                    <p class="menu__text"><a class="menu__a">Classes</a></p>
                </li>
                <li class="menu__list">
                    <div class="menu__icon"></div>
                    <p class="menu__text"><a class="menu__a">Documents</a></p>
                </li>
                <li class="menu__list">
                    <div class="menu__icon"></div>
                    <p class="menu__text"><a class="menu__a">Bookmarks</a></p>
                </li>
                <li class="menu__list">
                    <div class="menu__icon"></div>
                    <p class="menu__text"><a class="menu__a">Messages</a></p>
                </li>
                <li class="menu__list">
                    <div class="menu__icon"></div>
                    <p class="menu__text"><a class="menu__a">Settings</a></p>
                </li>
            </ul>
        </nav>
    </menu>

    <div class="sidebar-left__sign-out menu__list">
        <div class="menu__icon"></div>
        <p class="menu__text"><a class="menu__a">Sign Out</a></p>
    </div>

</div>

