<div class="@@div-class">
    <legend>@@legend-text</legend>
    <div class="@@div-2-class">
        <p class="@@p-class">
            <input type="@@type" class="@@input-class" name="@@name">
            <span class="@@span-class">Сухой корм</span>
        </p>
        <p class="@@p-class">
            <input type="@@type" class="@@input-class" name="@@name">
            <span class="@@span-class">Влажный корм</span>
        </p>
        <p class="@@p-class">
            <input type="@@type" class="@@input-class" name="@@name">
            <span class="@@span-class">Натуральный корм</span>
        </p>
    </div>
</div>

<!-- @@include('components/bem-blocks/_checkbox-field.html', {
    "div-class": "",
    "legend-text": "",
    "div-2-class": "",
    "p-class": "",
    "input-class": "",
    "span-class": "",
    "type": "",
    "name": ""
}) -->