<div class="@@div-class">
    <legend>
        @@text-legend
        <abbr title="Поле не заполнено" aria-label="required">*</abbr>
    </legend>

    <input name="@@name" type="radio" class="@@input-class" required>
    <span>@@text-1</span> 

    <input name="@@name" type="radio" class="@@input-class" required>
    <span>@@text-2</span> 
</div>

<!-- @@include('components/bem-blocks/_radio-field.html', {
    "div-class": "",
    "text-legend": "Пол Вашего питомца",
    "name": "sex",
    "input-class": "",
    "text-1": "Самец",
    "text-2": "Самка"
}) -->