<div class="@@div-class">
    <label for="@@label">@@text-label</label>
    <select class="@@class" id="@@label">
        <option value="" disabled selected hidden>@@text-option</option>
        <option value="scottish">Шотландская</option>
        <option value="british">Британская</option>
        <option value="maine-coon">Мейн-кун</option>
        <option value="bengali">Бенгальская</option>
        <option value="canadian">Канадский сфинкс</option>
        <option value="don">Донской сфинкс</option>
        <option value="abyssinian">Абиссинская</option>
        <option value="siberian">Сибирская</option>
        <option value="neva">Невская маскарадная</option>
        <option value="persian">Персидская</option>
    </select>
</div>

<!-- @@include('components/bem-blocks/_select-field.html', {
    "div-class": "",
    "label": "",
    "text-label": "",
    "class": "",
    "text-option": ""
}) -->