@font-face {
    font-family: KleinCondensed-Bold;
    src: url(./fonts/KleinCondensed-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #E1E0E1;
    font-family: KleinCondensed-Bold;
    text-align: center;
    font-size: 2vh;
}

.body-grid {
    display: grid;
    grid-template: 
        'header header header header'
        'main main main aside'
        'main main main aside'
        'footer footer footer footer';
    gap: 0;
}

.header {
    grid-area: header;
    padding: 2em 0;
}

.main {
    background-color: #FFF8E4;
    grid-area: main;
}

.aside {
    background-color: #DCECCB;
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

.main-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.more-grid {
    display: grid;
    grid-template: 
        'more1 more2'
        'more3 more3';
    gap: 2em;
    margin: 2em;
}

.more {
    background-color: #FFEABA;
}

.more p {
    margin: 2em auto;
    padding: 0 2em;
}

.more1 {
    grid-area: more1;
}

.more2 {
    grid-area: more2;
}

.more3 {
    grid-area: more3;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2em;
    margin: 2em;
}

.sec-foot {
    background-color: #fff;
}

.sec-foot p {
    margin: 2em auto;
}
