$font-for-text: "Raleway";
$center-align: 0 auto;
$bg-body-color: rgba(136, 178, 197, 0.24);

body {
    font-family: $font-for-text;
    margin: $center-align;
    background-color: $bg-body-color;
}

main {
    margin: $center-align;
}