$font-for-title: "Staatliches";
$font-for-text: "Raleway";
$center-align: 0 auto;
$border-radius: 4px;
$border-color: rgba(68, 67, 67, 0.623);
$bg-color: rgba(163, 161, 161, 0.767);


.field-entry {
    padding: 0.6em 0;
    margin-right: 0;

    &__label {
        font-family: $font-for-text;
    }

    &__input {
        margin-top: 0.3em;
        display: flex;
    }

    &__input-text {
        font-family: $font-for-text;
        border: none;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-left: 1em;
        width: 26em;
    }

}

.img-box {
    width: 3.6em;
    padding: 0.8em;
    background-color: $bg-color;
    border-right: 1px solid $border-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    img {
        width: 100%;
    }
}