$font-for-title: "Staatliches";
$font-for-text: "Raleway";
$center-align: 0 auto;
$bg-color: rgba(136, 178, 197, 0.493);
$border-color: rgb(197, 197, 197);

.form {
    border: 1px solid $border-color;
    border-radius: 8px;
    margin: 2em auto;
    padding: 50px;
    width: max-content;
    background-color: $bg-color;

    &__title {
        font-family: $font-for-title;
        font-size: 2.5em;
        text-align: center;
    }

    &__container {
        margin: $center-align;
        width: 30em;
    }

}